@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    max-width: 5%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
body {
    background-color: #EFE9E5;
    color: #000000;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

a, .btn {
    color: #333; /* Color por defecto para enlaces y botones */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
}

/* Modo día */
.day-mode {
    background-color: #EFE9E5; /* Fondo claro para el modo día */
    color: #333; /* Texto oscuro para el modo día */
}

.day-mode a, .day-mode .btn {
    color: #333; /* Color de enlaces y botones en modo día */
}

.day-mode .text-content {
    background-color: #333; /* Fondo oscuro para el contenido de texto en modo día */
    color: #EFE9E5; /* Texto claro para el contenido de texto en modo día */
}

/* Modo noche */
.night-mode {
    background-color: #4A5B6A; /* Fondo oscuro para el modo noche */
    color: #e6e6e6; /* Texto claro para el modo noche */
}

.night-mode a, .night-mode .btn {
    color: #e6e6e6; /* Color de enlaces y botones en modo noche */
}

.night-mode .text-content {
    background-color: #fff;
    color: #fff; /* Color del texto específico en modo noche */
}

.night-mode .link a::after {
    background-color: #e6e6e6; /* Línea inferior de enlaces en modo noche */
}

/* Inherencia de color para enlaces */
.day-mode .link a, .night-mode .link a {
    color: inherit; /* Heredar color del texto para los enlaces */
}

/* Efectos hover */
a:hover, .btn:hover {
    opacity: 0.8; /* Ligera transparencia en hover para mejor visibilidad */
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #333;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #B4915D;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #333;
    background-color: #B4915D;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #EFE9E5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #B4915D;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: #7D7D7D;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: #4A4A4A;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    color: #B4915D;
}

header .content p {
    margin-bottom: 2rem;
    color: #7D7D7D;
}

header .image {
    position: relative;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #D9B78F;
    opacity: 0.2;
    z-index: -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}
.menu-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #B4915D;
    padding: 0;
    list-style: none;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.menu-item.show .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.submenu li {
    padding: 0;
}

.submenu .btn {
    padding: 0.5rem 1rem;
    background-color: #B4915D;
    width: 100%;
    text-align: left;
}

.submenu .btn a {
    color: #fff;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #7D7D7D;
}


section .header {
    margin-bottom: 1rem;
    color: #4A4A4A;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"], button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
}

input[type="text"] {
    background-color: #EFE9E5;
    color: #333;
}

button {
    background-color: #B4915D;
    color: #333;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #333;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #333;
    text-align: left;
}

th {
    background-color: #B4915D;
    color: #333;
}

td {
    background-color: #EFE9E5;
    color: #4A4A4A;
}

td form {
    display: inline;
}

td form button {
    background-color: #B4915D;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

td form button:hover {
    background-color: #EFE9E5;
    color: #333;
}