@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    max-width: 10%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

/* Estilos por defecto (modo día) */
body {
    background-color: #EFE9E5;
    color: #000000;
}

/* Estilos base */
a, .btn {
    color: #333; /* Color por defecto para enlaces y botones (modo día) */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
}

/* Modo día */
.day-mode {
    background-color: #EFE9E5; /* Fondo claro para el modo día */
    color: #333; /* Texto oscuro para el modo día */
}

.day-mode a, .day-mode .btn {
    color: #333; /* Color de enlaces y botones en modo día */
}

.day-mode .text-content {
    background-color: #333;
    color: #333; /* Color del texto específico en modo día */
}

/* Modo noche */
.night-mode {
    background-color: #4A5B6A; /* Fondo oscuro para el modo noche */
    color: #e6e6e6; /* Texto claro para el modo noche */
}

.night-mode a, .night-mode .btn {
    color: #e6e6e6; /* Color de enlaces y botones en modo noche */
}

.night-mode .text-content {
    background-color: #fff;
    color: #fff; /* Color del texto específico en modo noche */
}

.night-mode .link a::after {
    background-color: #e6e6e6; /* Línea inferior de enlaces en modo noche */
}

/* Inherencia de color para enlaces */
.day-mode .link a, .night-mode .link a {
    color: inherit; /* Heredar color del texto para los enlaces */
}

/* Efectos hover */
a:hover, .btn:hover {
    opacity: 0.8; /* Ligera transparencia en hover para mejor visibilidad */
}


nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #4A4A4A;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #B4915D;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #333;
    background-color: #B4915D;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #D36D4F;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #B4915D;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: #7D7D7D;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: #4A4A4A;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    color: #B4915D;
}

header .content p {
    margin-bottom: 2rem;
    color: #7D7D7D;
}

header .image {
    position: relative;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #D9B78F;
    opacity: 0.2;
    z-index: -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: #4A4A4A;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #D9B78F;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features .card:hover {
    background-color: #F5E7D6;
    border-color: #B4915D;
    transform: translateY(-5px);
}

.features .card span {
    display: inline-block;
    background-color: #B4915D;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: #4A4A4A;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p {
    color: #7D7D7D;
    margin-bottom: 1rem;
}

.features .card a {
    color: #4A4A4A;
    transition: all 0.3s ease;
}

.features .card a:hover {
    color: #B4915D;
}

.menu-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #B4915D;
    padding: 0;
    list-style: none;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.menu-item.show .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.submenu li {
    padding: 0;
}

.submenu .btn {
    padding: 0.5rem 1rem;
    background-color: #B4915D;
    width: 100%;
    text-align: left;
}

.submenu .btn a {
    color: #fff;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #7D7D7D;
}

.pricing {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card {
    padding: 3rem 2rem;
    background-color: #EFE9E5;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pricing .card:hover {
    background-color: #F5E7D6;
    border-color: #B4915D;
    transform: translateY(-5px);
}

.pricing .card .content {
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4 {
    margin-bottom: 1rem;
    color: #4A4A4A;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3 {
    color: #4A4A4A;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #4A4A4A;
}

.pricing .card p {
    color: #4A4A4A;
    margin-bottom: 0.75rem;
}

.pricing .card p i {
    color: #7D7D7D;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button {
    color: #fff;
    background-color: transparent;
    border: 2px solid #4A4A4A;
}

.pricing .card button:hover {
    background-color: #B4915D;
    border-color: #B4915D;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo {
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p {
    color: #7D7D7D;
    margin-bottom: 2rem;
}

footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a {
    color: #7D7D7D;
    border: 1px solid #7D7D7D;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover {
    color: #fff;
    background-color: #B4915D;
    border-color: #B4915D;
}

footer .column h4 {
    color: #4A4A4A;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a {
    display: block;
    color: #7D7D7D;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover {
    color: #B4915D;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #4A4A4A;
    font-size: 0.8rem;
    text-align: center;
}

@media (max-width: 900px) {
    .nav-links {
        display: none;
    }
    header {
        grid-template-columns: 1fr;
    }
    header .image {
        grid-area: 1/1/2/2;
    }
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        grid-template-columns: 1fr 200px;
    }
}

@media (max-width: 600px) {
    header .image::before {
        display: none;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .pricing {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr 150px;
    }
}